/*
=======================================
Contact Us
=======================================
*/

.contactus-all {
    color: white;
    text-align: center;
}

.contactus-all .title {
    background-color: #ba1501;
    font-size: 22px;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 10px;
}

.contactus-all .box {
    background-color: #f13a0e;
    font-size: 25px;
    padding: 10px;
    display: flex;
    max-width: 500px;
    margin: 10px auto;
    align-items: center;
    border-radius: 10px;
}

.contactus-all .box div {
    flex: 1;
}

.contactus-all .box .icon {
    max-width: 200px;
}

.contactus-all .box .icon img {
    height: 60px;
}


/* devices */


/*tablet*/

@media only screen and (max-width: 1000px) {
    .contactus-all .box {}
}


/*mobile*/

@media only screen and (max-width: 600px) {
    .contactus-all .box {}
}