/*
=======================================
Food Menu
=======================================
*/

.foodmenu-all {
    background-color: #ba1501;
    margin-top: 15px;
}

.foodmenu-all .content {
    display: flex;
}

.foodmenu-all a {
    flex: 2;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-left: solid 15px white;
    transition: background-color 0.5s;
}

.foodmenu-all a.border-right {
    border-right: solid 15px white;
}

.foodmenu-all a:hover {
    background-color: #f13a0e
}


/*
=======================================
Sides
=======================================
*/

.sides-all {
    padding: 20px;
}

.sides-all .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.sides-all .box {
    background-color: #f13a0e;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: serif;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.sides-all .box.box-1 {
    background-image: url('../img/Chicken\ Dippers.jpg');
}

.sides-all .box.box-2 {
    background-image: url('../img/French\ Fries.jpg');
}

.sides-all .box.box-3 {
    background-image: url('../img/Garlic\ Bread.jpg');
}

.sides-all .box.box-4 {
    background-image: url('../img/Sweet\ Potato\ Fries.jpg');
}


/*
=======================================
Desserts & Drinks
=======================================
*/

.dd-all {
    padding: 20px;
}

.dd-all .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.dd-all .box {
    background-color: #f13a0e;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: serif;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.dd-all .box.box-1 {
    background-image: url('../img/Chocolate\ Brownie.jpg');
}

.dd-all .box.box-2 {
    background-image: url('../img/Chocolate\ Chip\ Cookies.jpg');
}

.dd-all .box.box-3 {
    background-image: url('../img/Soft\ Drinks.jpg');
}


/* devices */


/*tablet*/

@media only screen and (max-width: 1000px) {
    .products-all .content {
        grid-template-columns: 1fr 1fr;
    }
    .products-all .box {
        height: 375px;
        width: 375px;
    }
}


/*mobile*/

@media only screen and (max-width: 600px) {
    .products-all .content {
        grid-template-columns: 1fr;
    }
    .products-all .box {
        height: 400px;
        width: 390px;
    }
}