/*
=======================================
General
=======================================
*/

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    margin: 0px;
    padding: 10px;
}

.wrapper {
    max-width: 960px;
    margin: 0px auto;
    position: relative;
}


/*
=======================================
Header
=======================================
*/

.header-all .content {
    display: flex;
}

.header-all .logo {
    flex: 1;
}

.header-all .logo img {
    height: 100px;
}

.header-all .account {
    display: flex;
    align-items: center;
}

.header-all .account .icon {
    padding: 10px;
}

.header-all .icon img {
    height: 60px;
}


/*
=======================================
Menu
=======================================
*/

.menu-all {
    background-color: #f13a0e;
}

.menu-all .content {
    display: flex;
}

.menu-all a {
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-left: solid 1px white;
    transition: background-color 0.5s;
}

.menu-all a.border-right {
    border-right: solid 1px white;
}

.menu-all a:hover {
    background-color: #ba1501;
}

.menu-all a img {
    width: 20px;
    margin-right: 20px;
}


/*
====================================
footer
====================================
*/

.footer-all {
    background-color: #ba1501;
}

.footer-all .content {
    display: flex;
}

.footer-all a {
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-left: solid 1px white;
    transition: background-color 0.5s;
}

.footer-all a.border-right {
    border-right: solid 1px white;
}

.footer-all a:hover {
    background-color: #f13a0e;
}


/*
=======================================
Pizza
=======================================
*/

.products-all {
    padding: 20px;
}

.products-all .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.products-all p {
    background-color: #f13b0e83;
    color: white;
}

.products-all img {
    height: 60px;
}

.products-all .box {
    background-color: #f13a0e;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.products-all .box:hover .description {
    display: block;
}

.products-all .box .image {
    background-size: cover;
    height: 300px;
    position: relative;
}

.products-all .box .heart {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.products-all .box .add {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #ba1501;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.products-all .box .name {
    padding: 10px;
}

.products-all .box .description {
    padding: 0px;
    display: none;
    position: absolute;
    width: 100%;
}

.products-all .box .number {
    padding: 5px;
    background-color: #ba1501;
    text-align: center;
}